{erl_opts, [
    debug_info,
    fail_on_warning,
    {parse_transform, lager_transform},
    {i, "./_build/default/plugins/gpb/include"}
]}.

{deps, [
    {sync, {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
    {lager, {git, "https://github.com/basho/lager.git", {tag, "3.2.1"}}},
    {grpc_client, {git, "https://github.com/vasu-dasari/grpc_client.git", {tag, "master"}}}
]}.

{plugins, [
    {rebar3_gpb_plugin, "1.10.0"} % Good practice to specify which version to use
]}.

{gpb_opts, [
    {i, "proto"},                % path/to/proto_dir
    {module_name_suffix, "_pb"}, % Naming convention, unless you have a good reason just go with it.
    {o_erl, "src"},              % Where the generated source is placed
    {o_hrl, "include"},          % Where the generated include files are placed
    {strings_as_binaries, true},
    type_specs
]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{relx, [
    {release, { gobgp, "0.1.0" }, [
        sync,
        lager,
        gobgp,
        sasl
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}]
}.
